<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Instagram / Post List</title>
</head>
<body>
    <form action="" method="get" class='form'>
        <div class="row g-3 align-items-center">
            <label for="inputPassword5" class="form-label col-auto">Keyword</label>
            <div class="mb-3 col-auto">
                <input type="text" name='q' class="form-control" value="{{ q }}">
            </div>
            <div class="mb-3 col-auto">
                <input type="submit" value="search" class="btn btn-primary">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover">
        <tbody>
            {% for post in post_list %}
                <tr>
                    <td>
                        {% if post.photo %}
                            <img src="{{post.photo.url}}" alt="" style='width:100px;'>
                        {% else %}
                            No photo
                        {% endif %}
                    </td>
                    <td>
                        {{post.message}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>